<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pieguy's Django Blog</title>
  </head>
  <body>
    <h1>Pieguy's Django Blog</h1>
    <p>A web app created in Pyhton with Django</p>


    {% for post in posts %}
      <div class="">
        <h2><a href="#">{{ post.title }}</a></h2>
        <p>published: {{ post.published_date }}</p>
        <!-- linebreaksbr converts line breaks to paragraphs -->
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
    {% endfor %}

  </body>
</html>
