{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if user.is_authenticated %}
      <a href="{% url 'post_delete' pk=post.pk %}" class="menu-icons"><strong><span class="glyphicon glyphicon-remove"></span> Delete</strong></a>
      <a href="{% url 'post_edit' pk=post.pk %}" class="menu-icons"><strong><span class="glyphicon glyphicon-pencil"></span> Edit</strong></a>
    {% endif %}
    {% if post.published_date %}
      <div class="date">
        {{ post.published_date }}
      </div>
    {% else %}
      {% if user.is_authenticated %}
        <a href="{% url 'post_publish' pk=post.pk %}" class="menu-icons"><strong><span class="glyphicon glyphicon-upload"></span> Publish</strong></a>
        {% endif %}
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>

    <hr>
    {% for comment in post.comments.all %}
      <div class="row comment">
        <div class="col-md-2">
        </div>
        <div class="col-md-9">
          <div class="date">
            {{ comment.created_date }}
          </div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaksbr }}</p>
        </div>
        {% empty %}
          <p>No comments yet...</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
