h1 a, h2 a {
  color: #C25100;
  font-family: 'Lobster';
}
body {
  padding-left: 15px;
}
.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000010;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    color: #C25100;
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.by-line {
    color: #000030;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-top-menu, .post-top-menu:hover, .post-top-menu:visited {
    color: #000030;
    float: right;
    margin-right: 20px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000030;
    float: right;
    margin-right: 20px;
}

.post {
    background-color: #f0f0f0;
    border: 1px solid ##e8e4e4;
    margin-bottom: 50px;
    padding: 15px;
}

.menu-icons {
  float: right;
  color: #000000;
  margin-right: 10px;
}

.post h2 a, .post h2 a:visited {
    color: #C25100;
}

/* .black {

} */
.back {
  background-color: inherit;
  border: none;
}

footer {
  margin-left: 50px;
}
