h1 a, h2 a {
  color: #C25100;
  /* font-family: 'Lobster'; */
  font-family: 'Shadows Into Light', cursive;
}
body {
  background-color: #f5daba;
  padding-left: 15px;
}
.page-header {
    background-color: #e09a05;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000010;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    color: #e09a05;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Shadows Into Light', cursive;
}

.date {
    color: #828282;
}

.by-line {
    color: #000030;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-top-menu, .post-top-menu:hover, .post-top-menu:visited {
    color: #000030;
    float: right;
    margin-right: 20px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000030;
    float: right;
    margin-right: 20px;
}

.post {
    background-color: #fff2e5;
    border: 1px solid #e8e4e4;
    margin-bottom: 50px;
    padding: 15px;
}

.menu-icons {
  float: right;
  color: #000000;
  margin-right: 10px;
}

.post h2 a, .post h2 a:visited {
    color: #C25100;
}

.back {
  background-color: inherit;
  border: none;
  color: #363535;
}

.comment-indicators {
  color: #828282;
}

footer {
  margin-left: 50px;
}

.comment-container {
  background-color: #fdfafa;
  margin: 0 0 0 20px;
}



.comments {
  margin: 0px 0px 10px 20px;
  padding: 10px 0;
}

.comment {
  padding: 5px 5px 5px 20px;
  margin: 5px 10px 5px 5px;
  background-color: #fff2e5;
}

.post div.comment-container:first-child {
  background-color: yellow;
  margin: 20px 20px 0px 0px;
}
